* {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto',sans-serif;
    -webkit-font-smoothing: antialiased;
}
.container, .sections, .section {
    position: relative;
    height: 100%;
    text-align: center;
    color: #fff;
}
.section h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    transition: all .3s ease;
}
.container video {
    width : 100%
}

.section:first-child h1 {
    animation: first-show .3s;
}
.section0 {
    background: #409EFF;
}
.section2 {
    background: #E6A23C;
}
.section3 {
    background: #F56C6C;
}
.section1{
    background: #67C23A;
}
.section h1.text-animate {
    left: 0px;
    transform: translateX(-100%);
}
@keyframes first-show {
    0% {
        left: 0px;
        transform: translateX(-100%);
    }
    100% {
        left: 50%;
        transform: translateX(-50%);
    }
}